<template>
  <div class="form_wrapper">
    <label for="" class="form_wrapper__label  form_wrapper__label_required">Наименование товара</label>
    <input type="text" name="name" placeholder="Введите наименование товара" v-model="product_name"
           ref="ref_name"
           :class="{form_wrapper__input:true, form_wrapper__input_error: error_name}">
    <span v-if="error_name" class="error_valid">Поле является обязательным</span>

    <label for="description" class="form_wrapper__label  form_wrapper__label__description"> Описание товара</label>
    <textarea name="description" id="" cols="30" rows="10" placeholder="Введите описание товара"
              class="form_wrapper__input form_wrapper__description"
              v-model="product_description"></textarea>

    <label for="image_link" class="form_wrapper__label form_wrapper__image form_wrapper__label_required">Ссылка на
      изображение товара</label>
    <input type="text" name="image_link" placeholder="Введите ссылку" v-model="product_link"
           :class="{form_wrapper__input:true, form_wrapper__input_error: error_link}" ref="ref_link">
    <span v-if="error_link" class="error_valid">Поле является обязательным</span>

    <label for="price" class="form_wrapper__label  form_wrapper__price form_wrapper__label_required"> Цена
      товара</label>
    <input type="text" name="price" placeholder="Введите цену"
           :value="product_price_calc"
           @input="updatePrice"
           :class="{form_wrapper__input:true, form_wrapper__input_error: error_price}"
           ref="ref_price">

    <span v-if="error_price" class="error_valid">Поле является обязательным</span>
    <button :disabled="disabled" class="form_wrapper__button" @click="addProduct"> Добавить товар</button>
  </div>
</template>


<script setup>
import {ref, computed, onMounted} from 'vue';
import {notify} from "@kyvg/vue3-notification";

const ref_name = ref(null);
const ref_link = ref(null)
const ref_price = ref(null)
const error_name = ref(false);
const error_link = ref(false);
const error_price = ref(false);

const product_name = ref('')
const product_description = ref('')
const product_link = ref('')
const product_price = ref('')

const disabled = computed(() => {
  if (product_name.value === '' || product_link.value === '' || product_price.value === '') {
    return true
  }
  return false
})

const product_price_calc = computed(() => {
  const price = String(product_price.value).replace(/[^0-9]/gm, '')
  return price.replace(/\B(?=(\d{3})+(?!\d))/g, " ")
})

function updatePrice(val) {
  product_price.value = val.target.value
}

const $emit = defineEmits([
  'updateProducts'
])
onMounted(() => {
  ref_name.value.onblur = () => {
    if (product_name.value === '') {
      error_name.value = true;
      return
    }
    error_name.value = false;
  }
  ref_link.value.onblur = () => {
    if (product_link.value === '') {
      error_link.value = true;
      return
    }
    error_link.value = false;
  }
  ref_price.value.onblur = () => {
    if (product_price.value === '') {
      error_price.value = true;
      return
    }
    error_price.value = false;
  }
})

function addProduct() {
  fetch(`${import.meta.env.VITE_API_URL}/products`,
      {
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        method: "POST",
        body: JSON.stringify({
          "title": product_name.value,
          "description": product_description.value,
          "image": product_link.value,
          "price": String(product_price.value).replace(/[^0-9]/gm, ''),
        })
      })
      .then(function (res) {
        $emit('updateProducts')
        product_name.value = ''
        product_description.value = ''
        product_link.value = ''
        product_price.value = ''
        notify({
          title: 'Товар успешно добавлен',
          type: 'success'
        });

      })
      .catch(function (res) {
        notify({
          title: 'Произошла ошибка',
          type: 'error'
        });
      })
}


</script>

<style lang="scss">
.form_wrapper {
  padding: 25px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  background: #FFFEFB;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;


  &__label {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: #49485E;
    margin-top: 16px;
    margin-bottom: 4px;
  }

  &__label_required:after {
    content: " *";
    color: red;
    width: 4px;
    height: 4px;
  }

  &__description {
    resize: none;
  }

  &__input {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    background: #FFFEFB;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px 16px;
    border: 1px solid rgba(255, 255, 255, 0);
    margin-bottom: 14px;
  }

  &__input_error {
    border: 1px solid #FF8484;
    margin-bottom: 0;
  }

  &__input::placeholder {
    color: #B4B4B4;
  }

  &__input:focus {
    border: 1px solid black;
    outline: none;
  }

  &__button {
    background: #7BAE73;
    height: 36px;
    padding: 10px 0;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    margin-top: 24px;
  }

  &__button:hover {
    cursor: pointer;
  }

  &__button:disabled {
    background: #EEEEEE;
    color: #B4B4B4;

  }
}

.error_valid {
  margin-top: 4px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #FF8484;
}
</style>




