<template>
  <transition-group name="product" tag="div" class="wrapper_products">
    <Product v-for="product in products" :key="product.id" :product_info="product" @updateProducts="updateProducts"/>
  </transition-group>
</template>


<script setup>
import Product from './Product.vue'
import {watch} from "vue";
import gsap from "gsap";

const props = defineProps({
  products: Array,
  sort: String
})
const $emits = defineEmits(['updateProducts'])

function updateProducts() {
  $emits('updateProducts')
}

watch(() => props.sort, () => {
  gsap.from(".wrapper_products", {duration: 1, opacity: 0.5});
  gsap.to(".wrapper_products", {duration: 1, opacity: 1});
})
</script>
<style lang="scss">
.product-enter {
  opacity: 0;
}

.product-enter-active, .product-leave-active {
  animation: fadeIn 0.5s ease-in forwards;
  transition: opacity .5s;
}

.product-leave-active {
  transform-origin: 50% 50%;
  transition: transform .5s cubic-bezier(0.61, 1, 0.88, 1);
  transition-property: transform, opacity;
}

.product-leave-to {
  animation: fadeOut 0.5s ease-in forwards;
  transition: opacity .5s;
}

.wrapper_products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

@media (max-width: $breakpoint-tablet) {
  .wrapper_products {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
}

@media (max-width: $breakpoint-mobile) {
  .wrapper_products {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 16px;
  }
}
</style>