<template>
  <div class="product" @mouseover="upHere = true" @mouseleave="upHere = false">
    <div class="product__icon" @click="deleteProduct">
      <ThrashIcon/>
    </div>
    <img :src="product_info.image" alt="" class="product__img">
    <div class="product_wrap">
      <div class="product__title">{{ product_info.title }}</div>
      <div class="product__description">{{ product_info.description }}</div>
      <div class="product__price">{{ price }} руб.</div>
    </div>
  </div>
</template>


<script setup>
import {ref, computed} from 'vue';
import ThrashIcon from '../assets/icons/trash-icon.svg';
import {notify} from "@kyvg/vue3-notification";

const $emits = defineEmits(['updateProducts'])
const upHere = ref(false);
const props = defineProps({
  product_info: {}
})

function deleteProduct() {
  fetch(`${import.meta.env.VITE_API_URL}/products/${props.product_info.id}`,
      {
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        method: "DELETE",
      })
      .then(function (res) {
        $emits('updateProducts')
        notify({
          title: 'Товар удален',
          type: 'error'
        });
      })
      .catch(function (res) {
        console.log(res)
      })
}

const price = computed(() => {

  if (props.product_info.price > 999) {
    const priceArray = String(props.product_info.price).split('').reverse();
    const result = []
    for (let i = 0; i < priceArray.length; i++) {
      if (i % 3 === 0) {
        result.push(' ')
      }
      result.push(priceArray[i])
    }
    return result.reverse().join('').trim()
  }
  return props.product_info.price;
})
</script>

<style lang="scss">
.product {
  position: relative;
  background-color: white;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  background: #FFFEFB;

  &__img {
    width: 100%;
  }

  &__icon {
    position: absolute;
    top: -2%;
    right: -2%;
    background-color: #FF8484;
    width: 32px;
    height: 32px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }
  }

  &_wrap {
    padding: 16px 16px 24px 16px;
  }

  &__title {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #3F3F3F;
    margin-bottom: 16px;
  }

  &__description {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #3F3F3F;
    margin-bottom: 32px;
  }

  &__price {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #3F3F3F;
  }
}
</style>