<template>
  <div class="custom-select" :tabindex="tabindex" @blur="open = false">
    <div class="selected" :class="{ open: open }" @click="open = !open">
      {{ selected }}
      <Triangle :class="{icon_triangle: true, icon_triangle_rotate:open}"/>
    </div>

    <div class="items" :class="{ selectHide: !open }">
      <div
          v-for="(option, i) of options"
          :key="i"
          @click="
          selected = option;
          open = false;
          $emit('input', option);
        "
      >
        {{ option }}
      </div>
    </div>
  </div>
</template>

<script setup>
import Triangle from '../assets/icons/triangle.svg';
import {ref, onMounted, watch} from 'vue';

const props = defineProps({
  options: {
    type: Array,
    required: true,
  },

  tabindex: {
    type: Number,
    required: false,
    default: 0,
  },
})
const $emit = defineEmits(['input'])

onMounted(() => {
  $emit('input', selected.value);
  if (!localStorage.getItem('sort')) {
    localStorage.setItem('sort', props.options[0])
  }
})
const open = ref(false)
const selected = ref(localStorage.getItem('sort') ? localStorage.getItem('sort') : props.options[0])

watch(selected, () => {
  localStorage.setItem('sort', selected.value)
})

</script>

<style lang="scss">

.custom-select {
  font-family: 'Source Sans Pro';
  position: relative;
  width: 132px;
  text-align: left;
  outline: none;
  height: 36px;
  line-height: 36px;
  background-color: white;
  color: #B4B4B4;
  border-radius: 4px 4px 0 0;


  .selected {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: none;
    padding-left: 0.5em;
    cursor: pointer;
    user-select: none;

  }

  .icon_triangle {
    transition: all 0.2s;
    position: absolute;
    right: 7%;
    top: 42%;
  }

  .icon_triangle_rotate {
    transform: rotate(180deg);
  }

  .items {
    border-radius: 0px 0px 6px 6px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .items div {
    background-color: white;
    color: black;
    padding-left: 1em;
    cursor: pointer;
    user-select: none;
  }

  .items div:hover {
    background-color: #EEEEEE;
  }

  .selectHide {
    display: none;
  }

}

@media (max-width: $breakpoint-mobile) {
  .custom-select {
    font-size: 10px;
  }
}

</style>