<template>
  <div class="wrapper">
    <div class="wrapper__top_line">
      <h2 class="wrapper__add_product">Добавление товара</h2>
      <Select :options="options" @input="updateFilter"/>
    </div>
    <div class="wrapper_product">
      <Filter @updateProducts="updateProducts"/>
      <Products :products="products" @updateProducts="updateProducts" :sort="selected"
                v-if="products.length !== 0"/>
      <Loader v-else/>
    </div>
    <notifications position="bottom left" classes="my-notification"/>
  </div>
</template>


<script setup>

import Select from './components/Select.vue'
import Filter from './components/Form.vue'
import Products from './components/Products.vue';
import Loader from './components/Loader.vue'
import {ref, onMounted} from 'vue';
import {selected, products, getProducts} from "@/services/getProducts.js";

const options = ['По умолчанию', 'From min', 'From max'];

function updateProducts() {
  getProducts(selected.value)
}

function updateFilter(sort) {
  getProducts(sort);
}
</script>


<style lang="scss">
.wrapper {
  padding: 32px;

  &__top_line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__add_product {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    color: #3F3F3F;
  }
}

.wrapper_product {
  display: grid;
  grid-template-columns: 300px 1fr;
  background: #E5E5E5;
  grid-column-gap: 16px;
}

@media (max-width: $breakpoint-tablet) {
  .wrapper_product {
    grid-template-columns: 200px 1fr;
  }
}

@media (max-width: $breakpoint-mobile) {
  .wrapper {
    display: flex;
    flex-direction: column;

    &__top_line {
      display: flex;
      align-items: center;
    }
  }
  .wrapper_product {
    display: flex;
    flex-direction: column;
  }
}

.my-notification {
  padding: 20px;
  border-radius: 5px;

  .notification-title {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
  }

  &.success {
    background-color: #7BAE73;
    color: white;
  }

  &.error {
    background-color: #FF8484;
    color: white;
  }
}
</style>
